@mixin borderHalfPx($borderColor: #ddd, $borderRadius: 0, $borderTop: 0, $borderRight: 0, $borderBottom: 0, $borderLeft: 0, $borderStyle: solid) {
  position: relative;
  &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 200%;
      height: 200%;
      border-radius: $borderRadius * 2;
      border: $borderTop $borderStyle $borderColor;
      border-right-width: $borderRight;
      border-bottom-width: $borderBottom;
      border-left-width: $borderLeft;
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform: scale(.5, .5);
      -webkit-transform: scale(.5, .5);
  }
}

@mixin borderHalfPxRound($borderColor: #ddd, $borderRadius: 0) {
   @include borderHalfPx($borderColor, $borderRadius, 1px, 1px, 1px, 1px);
}

@mixin borderTopHalfPx($borderColor: #ddd, $borderRadius: 0) {
  @include borderHalfPx($borderColor, $borderRadius, 1px, 0, 0, 0);
  // 解决before内容盖住div, 点击失效的问题 (例如：点击input无法focus)
  &::before {
      height: 0;
      bottom: initial;
  }
}

@mixin borderBottomHalfPx($borderColor: #ddd, $borderRadius: 0) {
  @include borderHalfPx($borderColor, $borderRadius, 0, 0, 1px, 0);
  &::before {
      height: 0;
      top: initial;
  }
}

@mixin borderLeftHalfPx($borderColor: #ddd, $borderRadius: 0) {
  @include borderHalfPx($borderColor, $borderRadius, 0, 0, 0, 1px);
  &::before {
      width: 0;
      right: initial;
  }
}

@mixin borderRightHalfPx($borderColor: #ddd, $borderRadius: 0) {
  @include borderHalfPx($borderColor, $borderRadius, 0, 1px, 0, 0);
  &::before {
      width: 0;
      left: initial;
  }
}
